{% extends 'authentication/base.html' %}

<!-- {% block title %}Car Servicing{% endblock title %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us</title>
    
</head>
<style>
body{background-color: black;}

</style>
<body style="color: #034f84;"> 

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>Ignite</strong></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> Home </a></li>
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> About </a></li>
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> Services </a></li>
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> Contact</a></li>
            </ul>
          </div>
        </div>
      </nav> -->

      {% block body %}
      <div class="bg-light">
        <div class="container py-5" style="background-color: #034f84;">
          <div class="row h-100 align-items-center py-5">
            <!-- <div style="background-color: #92a8d1;"> -->
            <div class="col-lg-6">
              <h1 class="display-4" style="color: rgb(12, 18, 29)"><b>About us</b></h1>
              <p class="lead text-muted mb-0">Accelerate Into The Future!</p>
              <p class="lead text-muted mb-0" style="color: blanchedalmond;"><b>We are Computer Engineering students of College of Engineering Pune from Div1. <br>MIS - 112003080,112003074.</b>

              </p>
              <!-- <p class="lead text-muted">Snippet by <a href="https://bootstrapious.com/snippets" class="text-muted"> 
                          <u>Bootstrapious</u></a>
              </p> -->
              <!-- <div class="col-lg-6 d-none d-lg-block"><img src="https://www.financialexpress.com/wp-content/uploads/2019/12/multi-brand-car-service-india.jpg" alt="" class="img-fluid"></div> -->
            </div>
        <!-- </div> -->
        
            
          </div>
        
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Sharing Smile through Car Caring</h2>
              <p class="font-italic text-muted mb-4">Adjustments - as vehicle components wear, they may need adjustment over time. Example: parking brake cable.The vehicle components are visually inspected for wear or any leaks. A diagnostic is performed to identify any electrical components reporting a failure or a part operating outside of normal conditions.
            </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm" style="background-color: black; color: blanchedalmond;">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLqBF5qioS-G_WVMv0fsmDqvBkMEPH0EAVysgaMCHeChowr3tsEk4tzVfMW86aHYod7wU&usqp=CAU" alt="" class="img-fluid mb-4 mb-lg-0"style="color: blanchedalmond;
              background-color: black;"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6 px-5 mx-auto"><img src="https://cdn.wearemarmalade.co.uk/wam/2020-12/car-service.jpg" alt="" class="responsive" style="width:32rem;"></div>
            <!-- img-fluid mb-4 mb-lg-0" -->
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">The joy of best Best Ride</h2>
              <p class="font-italic text-muted mb-4">Replacement - Given certain lubricants break down over time due to heat and wear, manufacturers recommend replacement. Any parts that are close to their expected failure are replaced too to avoid a failure while operating the vehicle.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm" style="color: blanchedalmond;
              background-color: black;">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="bg-light py-5">
        <div class="container py-5"style="background-color: black;">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light" style="color: #034f84;"><b> Our Team</b></h2>
              <p class="font-italic text-muted">Students of College of Engineering Pune.</p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Anvita Mahajan</h5><br><span class="small text-uppercase text-muted">112003080</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link" style="color: black;"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Chinmayee Kulkarni</h5><span class="small text-uppercase text-muted"><br>112003074</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Anvita Mahajan</h5><br><span class="small text-uppercase text-muted">Div 1[S5]</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
            </div>
            
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Chinmayee Kulkarni</h5><span class="small text-uppercase text-muted"><br>Div 1[S5]</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"style="color: black;"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
              </div>
            </div>
            
      
          </div>
        </div>
      </div>
      {% endblock body %}
      
      <!-- <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
        </div>
      </footer> -->
</body>
</html>