{% extends 'authentication/base.html' %} {% block title %}Car Servicing{% endblock title %} 

<!-- {% block body %} -->
<body style="background-color: #36486b">
  <div class="container" style="color: antiquewhite; background-color: #36486b">
    <br>
    <h1 style="text-align: center">Login</h1>
    <br>
    {% for message in messages %}
    <div
      class="alert alert-{{message.tags}} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong>
      {{message}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endfor%} 
    <div class="container" style="border: 2px solid white;border-radius: 1rem;width: 50rem;padding: 2rem;">
    <form class="row g-3" action="" method="POST">
        {% csrf_token %}
      <div class="col-md-12">
          <label for="validationDefault01" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault01"
            name="username"
            required
          />
       
      <label for="inputPassword5" class="form-label">Password</label>
      <input
        type="password"
        id="inputPassword5"
        class="form-control"
        name="password"
        aria-describedby="passwordHelpBlock"
      />
      <br>

      <!-- <br><label>UserName</label>
        <input type="text" id="username" name="username" required>
        <br><label>Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button> -->

      <div class="col-12" style="text-align:center;">
        <button class="btn btn-light" type="submit" >Login</button>
      </div>
      <br>
      <h5 style="text-align:center;">Don't have an Account?&nbsp;<a href="/" style="color:antiquewhite">Register Here</a></h5>
    </form>
  </div>
</div>
</div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>

{% endblock body %}















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color: #36486b">
  <div class="container" style="color: antiquewhite; background-color: #36486b">
    <br>
    <h1 style="text-align: center">Login</h1>
    <br>
    {% for message in messages %}
    <div
      class="alert alert-{{message.tags}} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong>
      {{message}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endfor%} 
    <div class="container" style="border: 2px solid white;border-radius: 1rem;width: 50rem;padding: 2rem;">
    <form class="row g-3" action="" method="POST">
        {% csrf_token %}
      <div class="col-md-12">
          <label for="validationDefault01" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault01"
            name="username"
            required
          />
       
       <label for="inputPassword5" class="form-label">Password</label>
      <input
        type="password"
        id="inputPassword5"
        class="form-control"
        name="password"
        aria-describedby="passwordHelpBlock"
      />
      <br>

     <br><label>UserName</label>
        <input type="text" id="username" name="username" required>
        <br><label>Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button> 

        <div class="col-12" style="text-align:center;">
          <button class="btn btn-light" type="submit" >Login</button>
        </div>
        <br>
        <h5 style="text-align:center;">Don't have an Account?&nbsp;<a href="/" style="color:antiquewhite">Register Here</a></h5>
      </form>
    </div>
  </div>
  </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </body>
</html>

  -->