{% extends 'authentication/base.html' %}

{% block title %}Car Servicing{% endblock title %}

{% block body %}

<body style="background-color:#36486b ;">
    <div class="container col-lg-6" style="color:antiquewhite;background-color:#36486b ;">
        <br><br>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <style>
            .well-block {
                background-color: #fff;
                border: 1px solid #e9e6e8;
                padding: 40px;
            }

            .well-title {
                margin-bottom: 40px;
            }
        </style>
        <div class="container" style="color:black;margin-left: 15rem;height: 16rem;">
            <div class="row">
                <div>
                    <div class="col-md-6">
                        <div class="well-block">
                            <div class="well-title">
                                <h2>Book an Appointment {{garageName}}</h2>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <!-- Form start -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="name">Name</label>
                                            <input id="name" name="appointname" type="text" placeholder="Name"
                                                class="form-control input-md">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Email</label>
                                            <input id="email" name="appointemail" type="text" placeholder="E-Mail"
                                                class="form-control input-md">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="date">Preferred Date</label>
                                            <input id="date" name="appointdate" type="date" placeholder="Preferred Date"
                                                class="form-control input-md">
                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="time">Preferred Time</label>
                                            <select id="time" name="appointtime" class="form-control">
                                                <option value="8:00 to 9:00">8:00 to 9:00</option>
                                                <option value="9:00 to 10:00">9:00 to 10:00</option>
                                                <option value="10:00 to 1:00">10:00 to 1:00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="appointmentfor">Appointment For</label>
                                            <!-- <select id="appointmentfor" name="appointmentfor" class="form-control"> -->
                                            <!-- <option value="Select">Select</option>
                                            <option value="Routine Servicing">Routine Servicing</option>
                                            <option value="Car Washing">Car Washing</option>
                                            <option value="Oiling">Oiling</option>
                                            <option value="Tire Repair">Tyre Repair</option> -->
                                            <div class="form-check">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                        value="Routine Servicing" id="flexCheckChecked"
                                                        name="appointmentfor" onclick="serviceselect()">
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        Routine Servicing
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Car Washing"
                                                        id="flexCheckDefault" name="appointmentfor"
                                                        onclick="serviceselect2()">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Car Washing
                                                    </label>
                                                </div>
                                                <div class="form-check" onclick="serviceselect3()">
                                                    <input class="form-check-input" type="checkbox" value="Oiling"
                                                        id="flexCheckDefault" name="appointmentfor"
                                                        onclick="serviceselect3()">
                                                    <label class="form-check-label" for="flexCheckDefault"
                                                        onclick="serviceselect3()">
                                                        Oiling
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Tyre Repair"
                                                        id="flexCheckDefault" name="appointmentfor"
                                                        onclick="serviceselect4()">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Tyre Repair
                                                    </label>
                                                </div>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button id="singlebutton" name="singlebutton"
                                                    class="btn btn-success">Confirm Appointment</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <!-- <button id="singlebutton" onclick="reciept()">Reciept</button> -->
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" onclick="reciept()">Display Reciept</button>
                    </div>
                </div>
                <div class="col-md-6" style="color:black;height: 20rem;">
                    <div class="well-block">
                        <div class="well-title">
                            <h2 id="reciept" style="text-align:center;">Why Appointment with Us</h2>
                        </div>
                        <div class="feature-block">
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title" id="i1"></h4>
                                <div class="feature-content">
                                    <p id="t1">Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies
                                        quis vehicula et, iaculis in magnestibulum.</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title" id="i2"></h4>
                                <div class="feature-content">
                                    <p id="t2">Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis.
                                        Vestibulum quis feugiat risus. </p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title" id="i3"></h4>
                                <div class="feature-content">
                                    <p id="t3">Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium.
                                        Integer auctor elementum nulla suscipit in.</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title" id="i4"></h4>
                                <div class="feature-content">
                                    <p id="t4">Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium.
                                        Integer auctor elementum nulla suscipit in.</p>
                                </div>
                                <br><br>
                            </div>
                            <div>
                                <h3 id="total"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>

</body>
<script>
    var price = 0;
    const reciept = () => {
        document.getElementById('reciept').innerHTML = "<h2>Reciept</h2>";
        document.getElementById('t1').innerHTML = "";
        document.getElementById('t2').innerHTML = "";
        document.getElementById('t3').innerHTML = "";
        document.getElementById('t4').innerHTML = "";
        document.getElementById('total').innerHTML = `Total Bill:${price}`;
    }
    const serviceselect = () => {
        document.getElementById('i1').innerHTML = "Routine Servicing:200 Rs"; price = price + 200;
        document.getElementById('t1').innerHTML = "";
        document.getElementById('t2').innerHTML = "";
        document.getElementById('t3').innerHTML = "";
        document.getElementById('t4').innerHTML = "";
    }
    const serviceselect2 = () => {
        document.getElementById('i2').innerHTML = "Car Washing:500 Rs"; price = price + 500;
        document.getElementById('t1').innerHTML = "";
        document.getElementById('t2').innerHTML = "";
        document.getElementById('t3').innerHTML = "";
        document.getElementById('t4').innerHTML = "";
    }
    const serviceselect3 = () => {
        document.getElementById('i3').innerHTML = "Oiling:300 Rs"; price = price + 300;
        document.getElementById('t1').innerHTML = "";
        document.getElementById('t2').innerHTML = "";
        document.getElementById('t3').innerHTML = "";
        document.getElementById('t4').innerHTML = "";
    }
    const serviceselect4 = () => {
        document.getElementById('i4').innerHTML = "Tyre Repair:200 Rs"; price = price + 200;
        document.getElementById('t1').innerHTML = "";
        document.getElementById('t2').innerHTML = "";
        document.getElementById('t3').innerHTML = "";
        document.getElementById('t4').innerHTML = "";
    };
    console.log(price);  
</script>

{% endblock body %}